.card
  width: 100%
  height: auto
  padding: 10px 12px 20px
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 16px
  background: #{var(--background-card)}
  filter: #{var(--shadow-card)}
  border-radius: 10px

  img
    width: 100%
    height: auto
    object-fit: cover
    border-radius: 10px
    overflow: hidden

  h2,h3,h4,h5,h6
    font-weight: 700
    font-size: 24px
    line-height: 32px
  p
    margin: 0
    span
      font-family: !important
      color: #fff
      font-weight: 800

  &-list
    padding-left: 26px !important
    margin: 0
    &__item
      color: #{var(--color-tit)}
      font-weight: 700

  b, .bold
    color: #{var(--color-tit)}
    font-weight: 700
  strong, .strong
    display: inline
    font-weight: 500
    background: rgba(130, 255, 4, 0.22)

.advantages
  padding: 20px 0
  display: grid
  align-items: center
  justify-content: center
  flex-flow: row wrap
  grid-auto-flow: column
  gap: 36px
  position: relative
  overflow: hidden
  &:before,
  &:after
    content: ''
    position: absolute
    width: 75px
    height: 75px
    border: 9px solid #{var(--background-btn)}
    border-radius: 50%
  &:before
    left: -38px
    top: -34px
  &:after
    right: -31px
    bottom: -48px

  &__years,
  &__clients,
  &__awards
    width: auto
    display: grid
    justify-items: center
    gap: 5px

  &-number
    width: 46px
    height: 46px
    border: 2px solid #{var(--background-btn)}
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    flex-grow: 1
    color: #{var(--background-btn)}
    font-family: Playfair Display, sans-serif
    font-weight: 700
    .advantages-plus
      color: #{var(--background-btn)}
      font-size: 12px
  &-name
    font-size: 12px
    line-height: 1

  &__years
    .advantages-number
      font-size: 36px
      line-height: 1
      align-items: flex-end
      padding-bottom: 11px
  &__clients
    .advantages-number
      font-size: 18px
  &__awards
    .advantages-number
      font-size: 18px

.sale
  width: 77px
  height: 77px
  display: grid
  align-content: center
  justify-content: center
  gap: 3px
  font-size: 7px
  line-height: 1
  background: #{var(--background-btn)}
  color: #{var(--color-btn)}
  border-radius: 50%
  overflow: hidden
  position: absolute
  right: 12px
  top: 180px
  span
    font-weight: 700
    font-size: 23px
    line-height: 1
    color: #{var(--color-btn)}

.card,
.consultation,
.biography
  &-btn
    width: 109px
    height: 33px
    padding: 10px 22px
    display: flex
    flex-direction: row
    align-items: flex-start
    gap: 10px
    flex-grow: 0
    font-size: 12px
    font-family: Playfair Display, sans-serif
    font-weight: 600

.case
  &-video
    width: 100%
    height: 0
    padding-bottom: 56.25% /* 16:9 */
    position: relative
    border-radius: 10px
    overflow: hidden
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  &-link
    font-size: 14px
    font-weight: 600
    color: #{var(--color-tit)}

.review-one,
.review-two
  padding-top: 58px
  margin-top: 31px
  position: relative
  .stars
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    gap: 10px
  .star
    width: 86px
    height: 82px
    position: absolute
    top: -31px
    left: 50%
    transform: translateX(-50%)
    svg path
      fill: #{var(--color-tit)}
    &:after
      content: '5'
      position: absolute
      top: 45%
      left: 50%
      transform: translate(-50%, -50%)
      font-family: 'Playfair Display'
      font-weight: 600
      font-size: 42px
      line-height: 1
      color: #{var(--color-btn)}
  .review-text
    text-align: center

.client
  width: 100%
  height: auto
  display: grid
  grid-template-areas: 'client-photo client-name' 'client-photo client-user'
  gap: 4px 12px
  justify-content: start
  align-items: center
  margin-left: 21px
  &-photo
    width: 63px
    height: 63px
    object-fit: contain
    border-radius: 50%
    overflow: hidden
    grid-area: client-photo
  &-name
    grid-area: client-name
    align-self: end
    font-size: 16px
  &-user
    grid-area: client-user
    align-self: start

.reviews-one,
.reviews-two
  margin: 0
  padding-top: 10px
  align-items: center
  .client
    width: auto
    margin: 0
    &-name
      font-weight: 600
      font-size: 24px
  .review-text
    max-width: 260px
    font-weight: 400
    line-height: 21px
    text-align: center
    letter-spacing: 0.02em
    color: #{var(--color-tit)}

.reviews-more.v-2
  padding: 20px 50px 20px
  display: grid
  align-content: center
  justify-items: center
  text-align: center
  .review-image
    width: 170px
    height: 58px
    object-fit: cover
    margin-bottom: -6px
  .card-title
    line-height: 29px
  .btn
    width: 142px
    height: 38px
    font-size: 14px
    font-weight: 700

.review-more,
.reviews-more,
.ask
  padding: 20px 12px
  &-btn
    width: 100% !important
    height: 59px !important

.biography
  ul
    padding-left: 0
    margin: 0
    list-style-type: none
  li

.education,
.additional-education,
.skills
  width: 100%
  display: grid
  gap: 16px

.education
  &-title
  &__list
  &__item

.additional-education
  &-title
  &__list
  &__item
    display: inline
    background: rgba(254, 232, 158, 0.2)

.skills
  &-title
  &__list
  &__item

.biography-info
  &__list
  &__item
    display: flex
    align-items: baseline
    gap: 10px
  &-subject
  &-link
    color: #fff

.text-white
  color: #fff

.faq

.accordion
  width: 100%
  height: auto
  padding: 0
  margin: 0
  list-style: none
  display: grid
  gap: 16px
  &__item
    width: 100%
    height: auto
    min-height: 56px
    padding: 17px 16px
    display: grid
    align-items: center
    color: #{var(--color-btn)}
    background: #{var(--background-btn)}
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.11)
    border-radius: 10px
    transition: 0.3s
    position: relative
    &:after
      content: '+'
      width: 22px
      height: 22px
      position: absolute
      top: 17px
      right: 16px
      background: var(--background-card)
      color: var(--color-tit)
      display: flex
      align-items: center
      justify-content: center
      font-size: 19px
      border-radius: 4px
      transition: 0.3s
    &.active
      gap: 10px
      &:after
        content: '-'
      .accordion
        &__content
          height: auto
          transform: scaleY(1)
          opacity: 1

  &__title
    padding-right: 40px
    font-family: Playfair Display
    font-size: 14px !important
    line-height: 19px !important
    color: #000

  &__content
    height: 0
    opacity: 0
    margin: 0
    font-size: 10px !important
    font-weight: 500 !important
    line-height: 1.5 !important
    overflow: hidden
    transform: scaleY(0)
    transition: 0.3s

  &__content-text

.contacts
  padding-top: 20px
  position: relative
  &-title
    line-height: 1
  .socials
    position: absolute
    top: 25px
    right: 12px
    display: flex
    gap: 12px
    &__link

  &__list
    width: 100%
    display: grid
    gap: 12px 0
  &__link
    width: 100%
    height: auto
    display: grid
    justify-content: start
    align-items: start
    grid-template-areas: 'icon name' 'icon address'
    gap: 0 12px
    text-decoration: none
    transition: .3s
    &:hover .contacts__address
      color: #{var(--color-tit)}
  &__icon
    grid-area: icon
  &__name
    grid-area: name
    align-self: end
    font-weight: 500
    font-size: 14px
    color: #{var(--color-txt)}
  &__address
    grid-area: address
    align-self: start
    font-family: 'Playfair Display'
    font-style: normal
    font-weight: 700
    font-size: 16px
    color: #fff

  &__callback-form
    width: 100%
    display: grid
    gap: 16px 0

.contacts.v-2
  position: relative
  overflow: hidden
  display: grid
  justify-items: center
  &:before
    content: ''
    position: absolute
    width: 75px
    height: 75px
    border: 9px solid #{var(--color-tit)}
    border-radius: 50%
  &:before
    left: -38px
    top: -34px
    background: #{var(--color-tit)}

  .subtitle
    font-size: 16px !important
    font-weight: 600
    color: #{var(--color-txt)}
    line-height: 1 !important
    text-align: center

  &__address
    font-family: inherit !important

.socials-header
  width: 100%
  margin-bottom: 11px
  display: grid
  justify-items: center
  gap: 16px
  &__link
    width: 100%
    height: auto
    padding: 8px 33px
    background: #{var(--background-card)}
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.11)
    border-radius: 100px
    display: grid
    justify-content: start
    align-items: end
    align-content: center
    grid-template-areas: 'icon name' 'icon adress'
    gap: 5px 12px
    line-height: 1
  .telegram,
  .viber
  .socials-icon
    width: 44px
    height: 44px
    grid-area: icon
  .contacts-name
    font-size: 16px
    font-weight: 700
    color: #{var(--color-tit)}
    grid-area: name
  .contacts-adress
    align-self: start
    font-weight: 500
    color: #{var(--color-tit)}
    grid-area: adress

  .socials
    margin-top: 7px
    position: relative
    top: unset
    right: unset
    gap: 23px
    &__link svg
      width: 40px
      height: 40px

.callback
  &-title
  &-form
    width: 100%
    display: grid
    gap: 16px 0
    &__label
      width: 100%
      display: grid
      gap: 4px 0
    .label-title
      margin-left: 18px

  &-form-submit
    width: 100%
    height: 59px
    margin-top: 8px
  .name
    &-input

  .phone
    &-input

.callback-wrap
  position: relative
  .callback
    margin-top: 40px
    padding-top: 90px
    display: grid
    justify-items: center
    position: relative
    overflow: hidden
    &:before,
    &:after
      content: ''
      position: absolute
      width: 75px
      height: 75px
      border: 9px solid #{var(--color-tit)}
      border-radius: 50%
    &:before
      left: -38px
      top: -34px
      background: #{var(--color-tit)}
    &:after
      right: -31px
      bottom: -48px
    &-avatar
      width: 122px !important
      height: auto !important
      border-radius: 50%
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      z-index: 1

    h3, h4,
    .label-title
      color: #{var(--color-tit)}

input
  width: 100%
  height: 49px
  padding: 14px 18px
  font-size: 14px
  color: #{var(--color-txt)}
  background: #{var(--background-body)}
  border: none
  border-radius: 10px
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.11)
::placeholder
  color: #{var(--color-txt)}

.subscription
  width: 100%
  display: flex
  justify-content: center
  gap: 14px
  &-smile
    width: 25px !important
    height: 25px !important

  &-text
    width: 200px
    font-size: 14px

.biography-slider
  width: 100%
  height: auto
  max-width: 300px
  margin: 0 auto
  display: flex
  position: relative
  overflow: hidden
.swiper
  width: 100%
  height: auto
  object-fit: cover
  padding-bottom: 18px

.swiper-pagination
  bottom: -5px !important
  &-bullet
    width: 54px
    height: 2px
    background: #{var(--color-tit)}
    opacity: 0.5
    border-radius: 10px
    &-active
      background: #{var(--color-tit)}
      opacity: 1


/* store */
.working
  display: grid
  align-items: center
  justify-content: center
  grid-auto-flow: column
  grid-template-areas: 'title title' 'day weekends'
  gap: 8px 45px
  position: relative
  overflow: hidden
  &:before,
  &:after
    content: ''
    position: absolute
    width: 75px
    height: 75px
    border: 9px solid #{var(--color-tit)}
    border-radius: 50%
  &:before
    left: -38px
    top: -34px
    background: #{var(--color-tit)}
  &:after
    right: -31px
    bottom: -48px

  &-title
    font-family: 'Inter'
    font-weight: 700
    font-size: 18px
    text-align: center
    grid-area: title
  &__day,
  &__weekends
    width: 100%
    display: grid
    justify-items: center
    &__day
      grid-area: day
    &__weekends
      grid-area: weekends
    .day
      font-weight: 500
    .time
      font-weight: 700
      color: #{var(--color-tit)}

.line-text
  width: 100vw
  margin: 32px -14px
  transform: rotate(-3.87deg)
  position: relative
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  p
    width: 120%
    height: 35px
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    white-space: nowrap
    text-transform: capitalize
    color: #{var(--color-btn)}
    background: #{var(--background-btn)}
    font-weight: 500
    font-size: 17px

  &.right-down
    transform: rotate(3.87deg)


