.header
  width: 100%
  height: auto
  background: url(../images/header_line.svg) no-repeat center top 90px, url(../images/header_bg.jpg) no-repeat center top
  margin-bottom: 24px
  background-size: contain
  

.specialist
  width: 100%
  height: auto
  display: grid
  justify-items: center
  &__photo
    width: 124px
    height: 124px
    margin: 67px auto 0
    border: 5px solid #{var(--color-tit)}
    border-radius: 50%
  &__name
    font-size: 34px

  &__subtit
    max-width: 200px
    font-family: Inter
    font-weight: 500
    font-size: 14px
    line-height: 1.5
    text-align: center

  &__btn
    width: 169px
    height: 48px



